@import "../../../utils.scss";

.card {
  &__content {
    position: relative;
  }

  &__img {
    @include card(21rem);

    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__caption {
    padding-left: 1rem;
  }

  &__title {
    max-width: 20rem;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  &__date {
    color: #ddd;
  }
}
